.editorContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .canvasContainer {
    flex: 1;
    position: relative;
    background-color: var(--muted);
  }
  
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  